<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<!--  <suite name="Suite"  verbose ="4" parallel="tests" thread-count="3"> -->
<suite name="OpenCartTests"  verbose ="4" >
	<listeners>
	  <listener class-name = "com.qa.openCart.listeners.ExtentReportListener" />
	  <listener class-name = "com.qa.openCart.listeners.TestAllureListener" />
	  <listener class-name = "com.qa.openCart.listeners.AnnotationTransformer" />
	</listeners>
	
<!--  <test name="LoginPage">
    <classes>
      <class name="com.qa.openCart.base.LoginPageTest"/>
    </classes>
  </test>  
  <test name="AccountPage">
    <classes>
      <class name="com.qa.openCart.base.AccountPageTest"/>
    </classes>
  </test> -->
 <test name="RegisterPage">
   <classes>
      <class name="com.qa.openCart.base.RegisterPageTest"/>
    </classes>
  </test> 
</suite> <!-- Suite -->
